/*달력 커스텀*/
.fc-direction-ltr {
  width: 100%;
  height: 100%;
}
.fc td,
.fc th {
  vertical-align: middle;
}
.fc-scrollgrid-section-header .fc-scroller {
  overflow: hidden !important;
}
.fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(1),
.fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:nth-child(3) {
  /* display: none; */
}
.fc-toolbar-chunk {
  position: relative;
  width: 235px;
  margin: auto;
  margin-bottom: 30px;
}
.fc-prev-button {
  position: absolute;
  left: 0;
  top: 0;
}
.fc .fc-button-primary {
  background-color: transparent;
  border: none;
}
.fc-icon {
  width: 26px;
  height: 20px;
}
.fc-icon-chevron-left {
  background: url(../img/left_arrow.png) center no-repeat;
  background-size: 20px;
}
.fc-icon-chevron-left:before {
  content: "";
}
.fc-next-button {
  position: absolute;
  right: 0;
  top: 0;
}
.fc-icon-chevron-right {
  background: url(../img/right_arrow.png) center no-repeat;
  background-size: 20px;
}
.fc-icon-chevron-right:before {
  content: "";
}
.fc .fc-button-primary:active {
  background-color: transparent !important;
  border: none;
}
.fc .fc-toolbar-title {
  text-align: center;
  margin-left: 0;
  font-size: 27px;
  font-weight: normal;
}
.fc .fc-col-header-cell-cushion {
  padding: 10px 0;
  color: #47475e;
  font-family: "Open Sans", sans-serif;
}
.fc .fc-daygrid-day-top {
  display: block;
  padding: 8px 0;
  text-align: center;
}
.fc .fc-daygrid-day-number {
  font-weight: bold;
  font-size: 18px;
  font-family: "Montserrat";
  padding: 0;
}
.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  margin-left: 0;
}
.fc .fc-daygrid-day-frame {
  min-height: auto;
}
.fc .fc-view-harness {
  height: 200px;
}
.fc-theme-standard td {
  border-bottom: none;
}
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  min-height: 0;
}
.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 0;
}
.fc-theme-standard td,
.fc-theme-standard th {
  border: none;
}
.fc-theme-standard .fc-scrollgrid {
  border: 1px solid #e6e6e6;
}
.fc-scrollgrid-section-header td:first-child {
  border-bottom: 1px solid #e6e6e6;
}
.fc .fc-daygrid-day.fc-day-today {
  background: none;
}
.fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 3px 0;
  border-radius: 50%;
  color: #fff;
  background: #f51d3b;
}
.fc-daygrid-event {
  height: 0;
  margin: 0;
  border: none;
  background: none;
}
.fc .fc-button-primary:hover {
  background-color: transparent;
}
